[mysqld]
character-set-server=utf8mb4 #文字コードutf8mb4の指定
default-time-zone = 'Asia/Tokyo'
host-cache-size=0
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid
[client]
default-character-set=utf8mb4 #clientからserverに接続する際の文字コードをutf8mb4に指定
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/